@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

body{
  background-color: #121315;
}

.header-img {
  background: url(/images/bg-cafe.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 13rem;
}

@media screen and (min-width: 600px) {
  .header-img {
    background: url(/public/images/bg-cafe-sm.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 15rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-img {
    background: url(/images/bg-cafe-lg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 17rem;
  }
}
